:root{
  --def-input-height: 3em;
  --def-input-border-radius: calc(0.5 * var(--def-input-height));
}

/* #root {
  height: 100vh;
  display: flex;
  flex-direction: column;
} */


main{
  /* padding: 2rem; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}


input:focus {
  border-color: #8bc944;
}


input[type="search"]{
  border: none;
  overflow: hidden;
  /* color: var(--color-realbox-foreground); */
  color: #000000;
  font-family: inherit;
  font-size: inherit;
  height: var(--def-input-height);
  outline: 0;
  padding-right: 44px;
  padding-left: 52px;
  /* position: relative; */
  width: 100%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  display: none;
}

.bi{
  cursor: pointer;  
}

.search-icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(var(--def-input-height) / 2)
}
.close-icon, .enter-icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(var(--def-input-height) / 2)
}

.landing-img{
  display: flex;
  padding: 2em 0;
  gap: 2em;
}

.low-landing{
  justify-content: flex-end;
  /* margin-top: auto; */
}



.img-container{
  width: 100%;
  position: relative;
  /* max-width: 20%; */
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1em; */
  background-color: #f1f1f1;
}

.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-container .credits{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5em;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  font-size: 0.8em;
  
}